@import '../node_modules/semantic-ui-css/semantic.min.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

*:not(i) {
	font-family: 'Quicksand', sans-serif !important;
}

.home_content {
	background-color: #f1f4f8;
	min-height: 100vh;
	padding: 30px 30px 0 30px;
}
